@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Define CSS variables for theme colours */
:root {
  --black: #000000;
  --white: #ffffff;
  --primary-10: #002757;
  --primary-20: #004275;
  --primary-30: #005f95;
  --primary-40: #007db7;
  --primary-50: #359dd9;
  --primary-60: #6eb0e1;
  --primary-70: #96c3e9;
  --primary-80: #bbd7f0;
  --primary-90: #dde8f8;
  --primary-95: #eef5fc;
  --primary-99: #fcfdfe;
  --secondary-10: #002141;
  --secondary-20: #003558;
  --secondary-30: #004b70;
  --secondary-40: #106389;
  --secondary-50: #367ba3;
  --secondary-60: #6594b5;
  --secondary-70: #8daec7;
  --secondary-80: #b3c8da;
  --secondary-90: #d9e3ec;
  --secondary-95: #ecf1f5;
  --secondary-99: #fbfcfd;
  --tertiary-10: #002d14;
  --tertiary-20: #004b2f;
  --tertiary-30: #006b4c;
  --tertiary-40: #008c6b;
  --tertiary-50: #39af8c;
  --tertiary-60: #6abfa2;
  --tertiary-70: #91d0b9;
  --tertiary-80: #87dfd0;
  --tertiary-90: #dbefe7;
  --tertiary-95: #edf7f3;
  --tertiary-99: #fbfdfd;
  --neutral-10: #131313;
  --neutral-20: #1e1e1e;
  --neutral-30: #2a2a2a;
  --neutral-40: #363636;
  --neutral-50: #434343;
  --neutral-60: #656565;
  --neutral-70: #898989;
  --neutral-80: #afafaf;
  --neutral-90: #d6d6d6;
  --neutral-95: #eaeaea;
  --neutral-99: #fbfbfb;
  --neutral-variant-10: #0c1c27;
  --neutral-variant-20: #21303c;
  --neutral-variant-30: #364653;
  --neutral-variant-40: #4d5c6a;
  --neutral-variant-50: #647482;
  --neutral-variant-60: #818e9a;
  --neutral-variant-70: #a0a9b2;
  --neutral-variant-80: #bfc5cb;
  --neutral-variant-90: #dee2e5;
  --neutral-variant-95: #eef0f2;
  --neutral-variant-99: #fcfcfc;
  --error-10: #620000;
  --error-20: #800000;
  --error-30: #9f0011;
  --error-40: #bf1726;
  --error-40: #e03d3d;
  --error-60: #ed6a60;
  --error-70: #f79186;
  --error-80: #feb6ad;
  --error-90: #ffdbd5;
  --error-95: #ffedea;
  --error-99: #fffbfb;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
p {
  font-weight: 400;
}

header {
  background: var(--primary-40);
}

footer {
  background: var(--neutral-50);
}

#map {
  width: 30rem;
  height: 30rem;
}
